[2021-04-16 10:43] robin-wayve opened #3 "Cannot read property '0' of null"
I tried out the minimal config from the README on a private repository in an organisation and the action fails with this output:
[code]

I tried this both `@master` and `@v2.0.0` with the same result.

<details>
<summary>Full log</summary>

[code]

</details>

[2021-04-16 14:32] manuelmhtr commented on #3
Hi @robin-wayve thanks for reporting the problem.
Please let me find the cause and send a solution soon.

[2021-04-16 14:50] robin-wayve commented on #3
If I can provide any more context please let me know :bow:

[2021-04-17 23:17] manuelmhtr commented on #3
@robin-wayve I think I found the problem. The avatar URIs for bots are different from the ones for users; I guess you have some bot doing pull requests in your repo and that caused the problem.

Could you please try running the action using the `dev` branch instead of `master`?

Let me know if that works and I'll clean everything to launch a 2.0.1 version.

[2021-04-19 08:13] robin-wayve commented on #3
That worked, thanks for the fast turnaround! :bow:

[2021-04-19 16:13] manuelmhtr commented on #3
@robin-wayve No problem. Thanks for your help!

It's now fixed in [`v2.0.1`](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.0.1). You can switch back to `master`.

[2021-04-19 16:13] #3 closed

[2021-05-12 18:27] sivakku opened #4 "Feature Request: Can you enable the workflow to be run on demand?"
Enable it on the trigger "on: workflow_dispatch"

[2021-07-21 21:18] derek-young opened #5 "parseUser.js crashes with null author"
When a PR is created by a user who is subsequently removed from an organization, the `node.author` value is `null`, which is then passed into `parseUser.js` and throws an uncaught type error of "Cannot read property 'databaseId' of undefined". I can create a PR for this, but you'll have to let me know how you want this handled, i.e. do we ignore that PR or aggregate these under an "unknown" user?

[2021-07-21 21:37] manuelmhtr commented on #5
Hi @derek-young, thanks for your support.
I think the best would be to ignore the user (since it was removed it should be important to keep tracking their stats).

I recently did a similar change to prevent checking bot reviews (https://github.com/flowwer-dev/pull-request-stats/commit/1bc765755df4fbc0a52bf761b4b3d97408b5b20b, `src/interactors/getReviewers/groupReviews.js`), it may help you.

[2021-07-22 15:28] derek-young commented on #5
Doesn't look like I can link the issue, but a PR for this fix is up! https://github.com/flowwer-dev/pull-request-stats/pull/6 Thanks Manuel

[2021-07-22 21:12] manuelmhtr commented on #5
Solution is ready on v2.0.2.
Thanks for contributing @derek-young

[2021-07-22 21:12] #5 closed

[2021-07-23 20:28] derek-young opened #7 "If PR stats table is first item in the PR, the "already published" check fails"
If there is no other content in the PR body, the check in alreadyPublished.js returns false instead of true, and two tables get published to the PR description. I believe this is because the regex is prefixed with a new line character, so if there is not a line above the table, it returns false: `const regexp = new RegExp(`\\n(${TABLE_TITLE})\\n`);`. Unfortunately, I don't have time for a PR now,

[2021-07-24 10:34] xdays opened #8 "Error fetching pull requests with id"
Here's my worflow yaml:

[code]

Just get the error:

[code]

Thanks

[2021-07-24 14:35] manuelmhtr commented on #7
Ohh great finding! Thanks @derek-young
No problem, I'll send the fix as soon as possible.

[2021-07-24 16:10] manuelmhtr commented on #8
Hi @xdays
I think is something related with permissions. Which permission are grated for the `GHB_PAT` token?

[2021-07-26 02:24] xdays commented on #8
I double check my token, I failed to save permission change. Thanks!

[2021-07-26 02:24] #8 closed

[2021-07-26 08:53] xild opened #9 "Local run"
Hi! Is there a way to use it locally without the GitHub actions?

If so, I could submit a PR updating the readme with some instructions

[2021-07-28 02:44] manuelmhtr commented on #9
Hi @xild,
Unfortunately is not possible at this point. In the future, I might separate the project into an npm dependency and the action (this project).

For now, you could fork it and pass the required parameters to the [execute function](https://github.com/flowwer-dev/pull-request-stats/blob/master/src/execute.js), you'll also need to return or print `content` rather than calling `postComment`.

[2021-08-03 00:34] manuelmhtr commented on #4
Hi @sivakku unfortunately the action needs a pull request to comment the results on it.
But I like the idea to make it on demand, where would you like to publish the results?

[2021-08-03 00:47] manuelmhtr commented on #7
Fixed in [v2.0.3](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.0.3)

[2021-08-03 00:47] #7 closed

[2021-08-11 03:41] alehandro295 opened #11 "[](url)впап"
[](url)

_Originally posted by @alehandro295 in https://github.com/flowwer-dev/pull-request-stats/pull/10#r686467938_

[2021-08-11 03:41] alehandro295 commented on #11
- [ ]

[2021-08-11 03:41] alehandro295 commented on #11
-

[2021-08-11 03:42] alehandro295 commented on #11
[](url)

[2021-08-11 22:37] #9 closed

[2021-08-12 08:03] ajeetvolvo opened #12 "Error: Cannot read property 'databaseId' of null"
Hi, my job is failing with error `Error: Cannot read property 'databaseId' of null`

here is my workflow,

[code]

[2021-08-18 00:05] manuelmhtr commented on #12
Hi @ajeetvolvo could you paste the full output? I'd like to see which line is the last executed.

[2021-08-24 00:39] manuelmhtr commented on #12
@ajeetvolvo this problem should be solved in [v2.1.0](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.1.0). Let me know if it worked for you.

[2021-08-24 00:39] #12 closed

[2021-08-24 00:41] manuelmhtr commented on #7
Hi @derek-young we forgot to build the changes (`yarn build`) LOL.
Now they are published in [v2.1.0](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.1.0)

Just in case you still had problems with the action.

[2021-08-25 06:55] ajeetvolvo commented on #12
yes.. its fixed now. thanks

[2021-10-01 21:29] sureyeaah opened #14 "Add a comment instead of updating PR description"
Hi,

I want the stats to be posted in a new comment instead of being appended to the PR description. Is this possible?

Thanks!

[2021-10-03 01:46] manuelmhtr commented on #14
Hi @sureyeaah this was the behavior in version 1, but it was a little annoying because every new push created a new comment with the stats.
I'd like to understand, is the current behavior affecting somehow your project or is just a personal preference?

[2021-11-21 03:31] #14 closed

[2021-12-14 13:04] jdecool opened #18 "Standalone version"
I just discover this Github Actions and it's interesting.

I'm interesting having a standalone version that I can run outside of a Github Actions.
Is it something you think to do in future ?

[2021-12-17 02:24] manuelmhtr commented on #18
Hi @jdecool yes. I'm working on separating the core of this action to be used elsewhere, and a platform to publish these stats in Slack. Sadly, I'm not moving as fast as I'd like but I hope it will be ready in the next weeks.

[2021-12-17 07:40] jdecool commented on #18
No problem. It's cool if you work on it.

I'm happy to see that when it will be ready ;)

[2021-12-28 23:45] pantheman1 opened #19 "Unable to see users and data after successful run of action"
Hello,

I have implemented this Github action but it doesn't appear to access any of the user or PR data in the repos. Can you help me understand what might be wrong? Here is the code:

[code]

The job runs successfully. Here is the output I see in the description:
![image](https://user-images.githubusercontent.com/71561333/147615037-b1b0ba1f-0d90-49e7-909f-2d92879b94dc.png)

For some added inform

[2022-01-09 15:37] manuelmhtr commented on #19
Hi @pantheman1 sorry for the late reply.

It seems the token has the right access, otherwise you would get an error.

Is it possible that you don't have any pull request during the last 30 days? Maybe could you try with a longer time (eg. `period: 365`) to see it that works.

[2022-01-17 11:22] LAlexMI commented on #19
Hi, I'm facing the same issue.
`name: Pull Request Stats

on: pull_request

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - name: Run pull request stats
        uses: flowwer-dev/pull-request-stats@master
        with:
          token: {{ secrets.PR_REPORT_GITHUB_PERSONAL_ACCESS_TOKEN }}
          repositories: {{ repo }}
          period: 7
          charts: true
          sort-by: '

[2022-01-21 13:10] LAlexMI commented on #19
My AccessToken was not authorized to use SSO. Which is required for our company. After I authorized the token to use SSO it works

[2022-02-02 07:06] dantehemerson opened #20 "Malformed markdown when append after a HTML tag"
In this PR the table is malformed:
![Screenshot-20220201181024-1387x761](https://user-images.githubusercontent.com/18385321/152108587-a7bbdcb4-18f9-4052-a166-55947cc016c3.png)

I have noticed that stats content is appended after an HTML tag(`details`)
![Screenshot-20220201181744-799x247](https://user-images.githubusercontent.com/18385321/152108851-23a3eca2-abc1-4924-b0e7-143c2d38c9eb.png)

Adding

[2022-02-03 02:35] #20 closed

[2022-02-03 02:39] manuelmhtr commented on #19
@pantheman1 could you try with Alex's solution? If that works, I'll add it to a Troubleshooting section.

[2022-02-23 07:04] abhimaandunzo commented on #18
@manuelmhtr  no pressure but is der any update on when we can see this feature?

[2022-02-25 12:41] BadenMorgan opened #23 "Feature request: Number of lines reviewed"
As a developer I would like to know how many lines someone has reviewed so I can more accurately assess if they should be chosen for the next review.

What we have found is sometimes people get more complex reviews than others and I know grading code complexity may be subjective but at a base level maybe just seeing how many lines were reviewed by a user in a given time period could help make the

[2022-02-27 18:48] manuelmhtr commented on #23
Hi @BadenMorgan is a good idea. I'll put it together with https://github.com/flowwer-dev/pull-request-stats/pull/17 and make stats columns more configurable.

I'll find some time during the next weeks to make this change.

[2022-03-01 08:53] BadenMorgan commented on #23
That's awesome, let me know if you want me to test it out when you are ready, would be happy to help on that front

[2022-03-06 09:56] rowi1de opened #24 "Feature: Allow Posting it as Comment"
Please add a feature that allows switching from Description to Comment.

[code]

[2022-03-06 09:57] rowi1de commented on #14
@manuelmhtr If you open a PR, edit the description and the Actions runs in the meantime it will cause concurrent edits.
Comment would work if the workflow trigger is set correctly

[2022-03-06 09:57] rowi1de commented on #24
Same as https://github.com/flowwer-dev/pull-request-stats/issues/14

[2022-03-19 23:11] fo2rist opened #25 "Feature: Add option to exclude users from stats"
Would be nice to be able to exclude inactive users and bots completely.

P.S. I had to fork you action because having telemetry was not acceptable for a project I'm working on, but I'd be happy not to maintain the fork anymore if you ever consider removing Mixpanel dependency. You can take implementation of this feature [from this commit](https://github.com/fo2rist/pull-request-stats/commit/1392cc

[2022-03-20 08:35] manuelmhtr commented on #25
Hi @fo2rist, thanks for your suggestions.

About excluding users, may I ask the use case? (I guess there are some collaborators who leave, but they still appearing in the stats for a while, is that the problem?)

About mixpanel, I [recently](https://github.com/flowwer-dev/pull-request-stats/commit/28c47b454706ca5d670c59adcc7cebf3de79338d) added an option to prevent data from being send to external

[2022-03-21 22:24] fo2rist commented on #25
Hey!

We have collaborators who should not be counted of two types:
- admins/managers who leave their notes, and can change some files (like docs) but otherwise don't participate
- non-human users who post technical comments, that aren't really review comments

Main reason is that while the dependency is there it's impossible to guarantee it won't fire accidentally due to a bug, or change in the d

[2022-03-25 12:57] ellimist opened #26 "License question"
Hi,

Thanks a lot for this project, it seems very useful 🙏🏼

I'd like to use this internally in some of our projects and willing to send upstream any improvement we'd make, but the current license of the project is pretty prohibitive and I don't think it could fly by our legal department.

Would you be able to license it to something more permissive, that wouldn't require us to open source _all_ o

[2022-03-30 00:47] manuelmhtr commented on #26
Hi @ellimist,
Thanks for pointing the issue and sorry for the late reply. Truth is, I'm really bad with licenses. Please let me deep into it and come with a better one.

[2022-03-30 01:13] manuelmhtr commented on #26
@ellimist I dove into, and definitively AGPLv3 is not what I was looking for when I created this library. Moved to MIT in favor of the community.

I hope this is a good fit for your company.

[2022-03-30 01:16] #19 closed

[2022-03-30 01:19] manuelmhtr commented on #24
Hi @rowi1de. You are right, commenting works when configuring the trigger correctly. I'll include this option in the next version. Let me find some time to work on that.

[2022-03-30 10:36] ellimist commented on #26
@manuelmhtr this is amazing, thanks a lot 🙏🏼 I'll try to send back here any changes/improvements we might make on the way.

[2022-03-30 10:36] #26 closed

[2022-04-03 21:56] manuelmhtr commented on #25
Hi @fo2rist!
Thanks for your reply.

Unfortunately, I think excluding reviewers is a very specific use case, sorry about that. However I'll leave this issue opened to see if more people have the same need and maybe include it in a latter version.

About `mixpanel`, I think even removing the library there're still the same problems since there's nothing to prevent the library is added again. Howeve

[2022-04-28 10:53] hidayt-rahman-qatalog opened #27 "expandable table to avoid space"
Do we have any possibility to make it expandable so it won't take space on load but can be viewed by clicking on icon?

<details>
  <summary>Pull reviewers stats</summary>

  ## Pull reviewers stats
### Table here

  </details>

[2022-04-29 19:41] cmathews88 opened #28 "Request to get verified in the github marketplace"
Unable to use this action within my organization because the creator is not Verified.

[2022-05-03 01:27] manuelmhtr commented on #27
Hi @hidayt-rahman-qatalog thanks for your suggestion.

I liked this format a lot. I'll work on a version where the table is expanded by default and include and option to start collapsed.

[2022-05-03 01:35] manuelmhtr commented on #28
Hi @cmathews88
Unfortunately is impossible for me request a verification. I looks Github is currently verifying actions from [closed partners](https://github.community/t/how-to-become-verified-creator-of-a-github-action/116009).

However, you can allow specific action from the [organization settings](https://docs.github.com/en/organizations/managing-organization-settings/disabling-or-limiting-gith

[2022-05-05 23:40] #28 closed

[2022-05-15 12:34] ChipWolf opened #29 "undefined user in list"
This is what the tables look like in our repo, there appears to be a user 'undefined' that I can't filter out

## Pull reviewers stats
Stats for the last 90 days:
|                                                                                                                                                                    | User              | Total reviews     | Time to review

[2022-05-15 12:35] ChipWolf opened #30 "FR: option to post table as a new comment rather than modifying the PR body"

[2022-05-15 12:35] ChipWolf commented on #30
Duplicate of #24

[2022-05-15 12:35] #30 closed

[2022-05-15 12:35] ChipWolf commented on #29
Related to #25

[2022-05-15 15:57] manuelmhtr commented on #29
@ChipWolf sorry about that and thank you for reporting the issue.

Do you know what might be causing it? is it a recently deleted user? a bot?

[2022-05-15 17:08] ChipWolf commented on #29
No removed users, I'm guessing it's the GitHub App for @ptgbot

[2022-05-17 17:24] fudomunro opened #31 "Feature: options to filter included PRs"
We're looking to publish review statistics for PRs that match a certain branch prefix (a convention we use for identifying the originating team). I imagine there are many other ways folk would find it convenient to filter, such as by PR creator, labels, or name.

[2022-05-19 12:12] anshsrtv opened #32 "Getting 400 error on Slack Integrations"
I am receiving this error while trying to run the actions in one of my org's private repo.
[code]
Our team Fyle has sponsored the project thinking it might add value but it keeps giving a 400 bad request whenever run. Attaching a screenshot of the logs here.

![Screenshot 2022-05-19 at 5 41 31 PM](https://user-images.githubusercontent.com/49693160/169290360-201e9562-a464-4b52-b8bc-9898e68fa915.png

[2022-05-19 15:03] manuelmhtr commented on #32
Hi @anshsrtv,
First, thank you very much for your support. You are my very first sponsor and that makes your company special to me. I'll work hard to make it worth 💪

Sorry about this problem. I've sent a new version (`v2.3.1`) adding logs to debug the Slack integration. In order to fix it, could you help me with:

1. Making sure you are running the action from `master`, `v2` or `v2.3.1` (this wil

[2022-05-19 17:24] anshsrtv commented on #32
Hey, I tried to debug this and found that the data for 30 days was too big for a single message in slack, so I reduced it to 15 days. Can we get the table format in slack as in the github PR description?

[2022-05-23 16:09] manuelmhtr commented on #32
Thanks for the update @anshsrtv, I'll add this to the "troubleshooting" section.

---

As an alternative, if you need the stats for the lasts 30 or more days, you could use the `limit` option. This way the stats still calculated for the desired time frame but the message is limited to the first X rows to fit the Slack limitation.

---

Unfortunately Slack blocks [does not support tables](https://s

[2022-05-26 06:05] anshsrtv commented on #32
Hi @manuelmhtr, Can we edit the slack message we send? I mean can we add the repo name to the slack message?

[2022-06-07 11:04] DaniAkash commented on #24
@manuelmhtr when the PR body is edited - the unfurling of pr links prints the users as preview image. This makes the PR previews when shared on slack awkward

[2022-06-07 23:04] manuelmhtr commented on #24
Hi @DaniAkash, I see. I make posting as comment makes ever more sense. Let me do some time this week to launch this feature.

[2022-06-07 23:12] manuelmhtr commented on #32
@anshsrtv sorry for the late reply.
1. Review time is calculated as the moment of the first review minus the most recent date between the last commit and the time the PR was published. You can check it [here](https://github.com/flowwer-dev/pull-request-stats/blob/master/src/parsers/parseReview.js). The logic behind this is, somebody might publish the PR first but keep adding commits before request

[2022-06-09 00:42] http-teapot opened #33 "KeyTooLongError: Your key is too long"
Looks like I am a heavy reviewer and hit some limits.

[code]

I think the URL is safe to share: [`https://app.flowwer.dev/charts/review-time/~(u~(i~'1534519~n~'http-teapot)~p~30~r~(~(d~'rbu7ub~t~'r4)~(d~'rc319p~t~'fr)~(d~'rbshn6~t~'eqn)~(d~'rbu4wz~t~'58)~(d~'rbu5ok~t~'4jt)~(d~'rbu214~t~'279)~(d~'rbuoke~t~'5m)~(d~'rbuol5~t~'6d)~(d~'rbuovz~t~'40)~(d~'rbuow6~t~'47)~(d~'rbxlmt~t~'8l)~(d~'rc3lyq~t~'b4

[2022-06-09 14:22] anshsrtv opened #34 "Error on running the action with `schedule` event"
Getting this error, while running the action on `schedule` event. We're using slack integration and want the stats to be published as a message everyday in a slack channel.
![Screenshot 2022-06-09 at 7 51 24 PM](https://user-images.githubusercontent.com/49693160/172870176-91e0abd8-619f-437b-845a-975c8e102621.png)

[2022-06-11 17:39] manuelmhtr commented on #33
Hi @http-teapot thanks for reporting the issue. The fix is available in [v2.3.2](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.3.2).
It takes the most recent N data points that keeps the URL length below the 1,024 maximum characters.

[2022-06-11 17:39] #33 closed

[2022-06-11 17:41] manuelmhtr commented on #34
Hi @anshsrtv thanks for reporting the issue. The fix is available in [v2.3.2](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.3.2), you should be able to run it now.

[2022-06-11 17:41] #34 closed

[2022-06-13 15:19] WaKeMaTTa opened #35 "Error `Parameter token or opts.auth is required`"
Hello, sometimes we get randomly the following error:

[code]

any idea why?

[2022-06-16 00:07] manuelmhtr commented on #35
Hi @WaKeMaTTa, I've reviewed the problem and it seems to occur when for some reason the `token` parameter is empty.

I'm not sure about the reason. Some people got the [error](https://github.com/contributor-assistant/github-action/issues/55) running the action with the `pull_request_target` trigger (from a forked repo).

[Others] solve it by declaring the Github token in the repo secrets rather th

[2022-06-16 09:14] WaKeMaTTa commented on #35
This is our current configuration:

[code]

`${{ secrets.PULL_REQUEST_STATS_TOKEN }}` is configured at Organization level.

Ok, then we will move it to the repo settings.

[2022-06-17 08:10] WaKeMaTTa commented on #35
Yes, it worked.

[2022-06-17 08:10] #35 closed

[2022-06-18 19:15] manuelmhtr commented on #24
Hi @rowi1de @DaniAkash, publishing as comment is now available in [v2.4.0](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.0). It's now the default behavior and configurable with the `publish-as` option.

[2022-06-18 19:15] #24 closed

[2022-06-18 19:17] manuelmhtr commented on #27
Hi @hidayt-rahman-qatalog I took a different approach. Instead of making it collapsable, now in [v2.4.0](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.0) the stats are published as a comment. This way it takes no space from description.

[2022-06-18 19:17] #27 closed

[2022-06-19 19:02] manuelmhtr commented on #32
Hi @anshsrtv I just released [v2.4.1](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.1) which now prints the repos or organizations related to the stats.

[2022-06-19 19:02] #32 closed

[2022-06-20 06:35] hidayt-rahman-qatalog commented on #27
Thanks @manuelmhtr, I will try and see if its feasible for us or not.

[2022-06-21 14:34] famin3 opened #37 "Parameter token or opts.auth is required"
Started happening Monday afternoon, what I've found :
- renamed token to github-token
![image](https://user-images.githubusercontent.com/17994514/174825919-c21ad583-6ab0-492c-acca-dac6a783cd14.png)

Possible changes that caused it are in commit
https://github.com/flowwer-dev/pull-request-stats/commit/507103c1f4e76ef5047b92cc738e40637b37bdde

[2022-06-21 14:54] manuelmhtr commented on #37
Hi @famin3, thanks for reporting this problem. I missed a condition that was making `token` parameter to be empty (the new parameter `github-token` is ok and there's no need to assign a value, the action needs the default value).

The problem is fixed in [v2.4.2](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.2), could you run it again and confirm if that works?

[2022-06-21 14:59] famin3 commented on #37
@manuelmhtr all seems to work again. Thanks for quick response!

[2022-06-21 14:59] #37 closed

[2022-06-28 09:46] pattwell opened #38 "Documentation: How to make premium features work after sponsoring"
I may be missing something, but even after sponsoring, the Slack Integration still returns the output `Slack integration is a premium feature, available to sponsors.`

It is not clear to me how to configure things so that the action is aware that our Organisation is already a sponsor and allow the Slack action to run. Some documentation to address this would be awesome!

Thanks.

[2022-06-28 15:25] valeriupredoi opened #40 "Run nightly and display results in html but not linked to any PR"
Hey guys, first off - really like this tool, many thanks for putting it together! Second, was wondering if there's a way to run the action nightly (this is possible no problemo) but make it output the stats table in some sort of html file (or even stdout in the GA terminal) so we can create a badge that links to the stats table to be seen at any time by any user, and not be linked to opening/pushi

[2022-06-29 09:14] pattwell commented on #38
Hi @manuelmhtr ,

Thank you! That makes total sense and should have been obvious in retrospect. We changed our Sponsorship to Public and the action ran successfully now :)

I am still having trouble getting the Slack message to post, however.

Perhaps another thing to request in the README is a bit more detail on what needs to be set up in the Webhook itself in Slack - as it requires you to add at

[2022-06-29 23:13] manuelmhtr commented on #40
Hi @valeriupredoi is a very good idea. Actually, there's a [web versión](https://app.flowwer.dev/charts/review-time/~(u~(i~'2741~n~'ddh)~p~30~r~(~(d~'qq57xy~t~'3co)~(d~'qqedft~t~'i1i)~(d~'qqfmub~t~'1rg0)~(d~'qqhjco~t~'5u)~(d~'qqlxa9~t~'20lw)~(d~'qqqo38~t~'2kp)~(d~'qpgl4i~t~'40i)~(d~'qpgq0r~t~'8wr)~(d~'qpgqv1~t~'9r1)~(d~'qqdzub~t~'398)~(d~'qq2xpc~t~'iz)~(d~'qpgoox~t~'1ep)~(d~'qpggla~t~'dt)~(d~'qpin

[2022-06-29 23:47] manuelmhtr commented on #38
Hi @pattwell I'm glad it worked :D

About the slack configuration, I think you are creating a Workflow which is a bit different.

What you need to create is an "App" and then create an "Incoming Webhook" for that app. At the end you should get an URL. That URL is the one that you need to assign to your `PR_STATS_SLACK_WEBHOOK_URL` secret.

I found this [tutorial](https://www.youtube.com/watch?v=6N

[2022-06-30 08:45] pattwell commented on #38
@manuelmhtr Ah thank you, silly me! I read "Create a webhook" and my mind instantly went to the Workflow Webhooks as I have used them a lot in the past. Since this is the interface to select a Webhook type workflow, I didn't even think that I was looking at totally the wrong thing:

<img width="517" alt="Screenshot 2022-06-30 at 09 26 00" src="https://user-images.githubusercontent.com/75476610/176

[2022-06-30 11:11] pattwell commented on #38
Hello again! Sorry for lots of comments, but just sharing some further findings after more testing.

After the inital success, I am now scheduling the action to run once for our Backend developers' repos, and separately for our Frontend developers' repos, as this makes the stats easier to analyse. For these I am specifying 3 repos each, eg:

[code]

I noticed that the Slack message says "_Stats of

[2022-06-30 14:59] manuelmhtr commented on #38
Hi @pattwell! Happy to hear it's working now 🙌  and thank you very much for all the debugging and feedback (don't worry, this issue is fine to talk about all related topics).

About each comment:

You are right, let me check how can I specify to Github that threat this value as sensitive. This is to prevent it from being printed during debugging, right? or am I missing something else?

---

Ooops!

[2022-07-01 13:07] pattwell commented on #38
Hey again @manuelmhtr :)

For this I just mean that in the README you show an example of how people could set up the slack integration:

[code]

But it might be better to show this as the example:

[code]

This will encourage people to use the Webhook URL via Repo secrets rather than committing it to their source code. It will work either way but it's best practice to use secrets and nice and easy

[2022-07-08 13:28] valeriupredoi commented on #40
@manuelmhtr many thanks, mate, and my apologies for the tardy reply! That'd be very nice, do you need any sort of help? I can test and review to the very least, for sure :beer:

[2022-07-15 07:54] thejuan opened #42 "Feature: Number of Reviews Requested of user"
It'd be interesting to see the number of times a reviewer has been requested to review next to the total reviews.
The time to review can be artificially low if they don't respond to many requests

[2022-07-31 10:06] rowi1de opened #43 "Feature: Add a Network of Reviewers"
- It would be super helpful to show a network of reviewers
- Who is reviewing (how many) PRs from which Author
- Stats per Graph Edge
- ...

[2022-07-31 16:25] manuelmhtr commented on #43
Hi @rowi1de that's a great idea, thanks!
It requires considerable effort, so it may take a while to be be ready but I'm definitely doing it 🤘

[2022-07-31 16:31] manuelmhtr commented on #42
Hi @thejuan, that's true!

I might do it in 2 stages:
1. When a reviewer is assigned but didn't respond, count the time since they were requested to the time the PR was closed as reviewing time; but don't count that PR as a review. That way only time will be impacted.
2. I'm not sure if the times a reviewer has been requested is a very meaningful metric alone, but many people are requesting for so

[2022-08-01 10:45] pattwell opened #44 "Error only when Scheduled run: Cannot read property 'full_name' of undefined"
Hello, I am not sure this isn't just me doing something wrong, but I get the following error only when the action is _not_ triggered manually:
`Cannot read property 'full_name' of undefined`

![Screenshot 2022-08-01 at 11 34 52](https://user-images.githubusercontent.com/75476610/182130359-7b7f5309-8790-4159-9059-b7f86682b86d.png)

The code is as below:

[code]

When I run it manually it works, so

[2022-08-03 02:49] manuelmhtr commented on #44
Hi @pattwell!
I found the problem. You are right, it's about a missing property in the context. I couldn't send the fix today but I hope to do it in the next couple of days. I'll keep you updated :)

[2022-08-03 08:40] tgrk opened #45 "Stats not aggregated across the repositories"
Hello, I am having an issue using the `repositories` feature (or I misunderstood it). I am using the following config (`GITHUB_API_TOKEN` has rights to read repo information and is a member of all the listed repositories), and PR stats are always calculated only for the current repository.

Configuration
[code]

Do you have any suggestions on how to enable cross repository stats?

Cheers,
Martin

[2022-08-04 04:02] manuelmhtr commented on #44
Hi @pattwell, it should be fixed in [v2.4.3](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.3).
Honestly I didn't have the time to test it properly, but according to Github docs it should work. I'll finish with testing tomorrow but I preferred to tell you in advance.

[2022-08-04 09:01] pattwell commented on #44
@manuelmhtr That's awesome, thanks so much for the super quick response!

[2022-08-08 15:27] pattwell commented on #44
@manuelmhtr Confirmed on my side that it's working on the schedule now! I will close this issue now since it is fixed, hope that is alright.
Thank you so much 😄

[2022-08-08 15:27] #44 closed

[2022-08-09 13:06] tgrk commented on #45
FYI I found out that the problem was using a regular Github user API token and not setting Github Action secret token.

[2022-08-09 13:06] #45 closed

[2022-08-15 06:17] seabornlee opened #46 "Android Lint Reporter got undefined"
<img width="740" alt="image" src="https://user-images.githubusercontent.com/735708/184585440-18123966-e721-40e7-b45a-849e1555ad62.png">

We use https://github.com/worker8/AndroidLintReporter to comment lint reports on PR automatically, but it shows undefined as username (the second one in the above image).

Can I define the name or exclude the reporter?

[2022-08-15 08:51] eddie-dunn opened #47 "Dependabot PRs trigger GraphQL errors in job"
We've enabled dependabot for our repo. Whenever it creates a PR to update a dependency, the default job fails with the following error:

[code]

<details>
<summary>.github/workflows/pr_stats.yml</summary>

[code]

</details>

[2022-08-21 17:03] manuelmhtr commented on #47
Hi @eddie-dunn,
It looks like there's something related with the GITHUB_TOKEN in the action. There are some [recommendations here](https://stackoverflow.com/a/70448851/1628009) that might be useful:
* Add `permissions: write-all` setting on the job.
* Create a personal access token.

Another solution is to ignore this action from depedabot's PRs:
[code]

[2022-08-21 17:31] manuelmhtr commented on #46
Hi @seabornlee, thanks for sharing this issue.

I made an improvement on [v2.4.4](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.4) to filter reviewers with undefined username. This should remove the empty row caused by `AndroidLintReporter`.

Could you give it a try and confirm if it works for you?

Thanks

[2022-08-22 05:50] seabornlee commented on #46
It works now. Thanks very much!

[2022-08-22 05:50] #46 closed

[2022-08-27 15:49] manuelmhtr commented on #47
@badenh I'm going to close this issue assuming some of my recommendations worked. Feel free to reopen it if the problem stills.

[2022-08-27 15:49] #47 closed

[2022-08-27 19:34] manuelmhtr commented on #38
Hi @pattwell
I took more time than expected but finally came with a solution for the characters limit on Slack, it's available on [v2.4.5](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.5).

The workaround was to split the message into chunks and post multiple times while preserving the order. This way it still looks like 1 single post and you can remove the `limit` option.

I

[2022-08-27 19:34] #38 closed

[2022-08-28 00:13] badenh commented on #47
@manuelmhtr I think you meant to tag @eddie-dunn :-)

[2022-08-28 00:18] badenh commented on #29
Hey @manuelmhtr Just letting you know I've seen this too and can replicate with 2 circumstances

1 - deleted user (org disconnected user still works, but purely deleted gives you back the undefined thing reported by @ChipWolf )
2- presence of _any_ bot that handles a PR (creates, reviews/ merges etc) - #25 does sound like the solution here.

[2022-08-28 00:24] badenh commented on #29
Also @ChipWolf as of this issue/fix, undefined are filtered out[ ](https://github.com/flowwer-dev/pull-request-stats/issues/46) - you might need to version upgrade your environment[ ](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.4)

[2022-08-28 16:47] manuelmhtr commented on #47
@eddie-dunn LOL

[2022-09-01 17:25] erodewald opened #48 "Sponsorship queries prevents usage in GitHub Enterprise"
This is likely also the case for any non-GitHub.com hosted instances.

**Error:**
[code]

**Runner log:**
[code]

My understanding is that this action now requires checking sponsorship through the GitHub octokit graphql API, which does not work when running this action in a self-hosted GitHub instance. In my case, this is happening in **GHES 3.5**. When a GitHub runner executes actions, it injects

[2022-09-02 01:59] manuelmhtr commented on #48
Hi @erodewald,
Sorry about this problem and thank you for taking the time to include all the details. Honestly I have not worked with the Enterprise version and wasn't aware of this kind of problems.

I think I came with a solution in [v2.4.6](https://github.com/flowwer-dev/pull-request-stats/releases/tag/v2.4.6), it's quite simple: it ignores the error, and assumes no sponsorship.

The only drawb

[2022-09-02 02:07] manuelmhtr commented on #29
Hi @badenh thank you for the extra details. Your observation is right, recently I made an [upgrade](https://github.com/flowwer-dev/pull-request-stats/commit/2e216dd0663e21fb756c3f63515cbad837f14880) to filter those `undefined`. Now any bot should be ignored.

I still not sure whether to include a filter as [#25](https://github.com/flowwer-dev/pull-request-stats/issues/25) suggests but I might cons

[2022-09-02 02:07] #29 closed

[2022-09-02 14:30] ctjhoa opened #50 "Bug: Average not computed"
From the README, [historical behavior](https://app.flowwer.dev/charts/review-time/~(u~(i~'2741~n~'ddh)~p~30~r~(~(d~'qq57xy~t~'3co)~(d~'qqedft~t~'i1i)~(d~'qqfmub~t~'1rg0)~(d~'qqhjco~t~'5u)~(d~'qqlxa9~t~'20lw)~(d~'qqqo38~t~'2kp)~(d~'qpgl4i~t~'40i)~(d~'qpgq0r~t~'8wr)~(d~'qpgqv1~t~'9r1)~(d~'qqdzub~t~'398)~(d~'qq2xpc~t~'iz)~(d~'qpgoox~t~'1ep)~(d~'qpggla~t~'dt)~(d~'qpin24~t~'3nk)~(d~'qpi9kk~t~'1a89)~(d~

[2022-09-02 14:33] ctjhoa commented on #50
Missclick close

[2022-09-03 00:06] manuelmhtr commented on #50
Hi. Since average is not the primary metric now, you need to click on the "Average" (red square) on top of the chart.

[2022-09-03 00:06] #50 closed

[2022-09-06 22:17] erodewald commented on #48
@manuelmhtr thanks, it works as expected now. 👍

**Totally unrelated:** use caution with relying on only the `organization` field, without a sensible constraint on `limit`:
[code]

[2022-09-06 22:17] #48 closed

[2022-09-12 09:47] pattwell commented on #38
Hi @manuelmhtr,

Sorry for such a late response!  Thank you so much for the updates, the limit does seem to work much better now 😄

The only remaining thing, I think, is the way the repos are listed if we choose exactly 3 repositories to scan. That is, it still shows as "Stats of the last 30 days for repo1 and repo2", with repo3 missed from the message.

Thanks :)

[2022-10-18 00:15] piersmacdonald opened #52 "Slack integration not working"
Here's the Github Action error

[code]

[2022-10-18 01:02] manuelmhtr commented on #52
Hi, @piersmacdonald thanks for reporting the issue. This problem was reported before and resulted being the characters limit of Slack. It was supposed to be [fixed](https://github.com/flowwer-dev/pull-request-stats/commit/ac5c6eb7c6f48b0e12253dd6cd511a81fd088570), but maybe I made a mistake.

Could you try setting the `limit` option to 5 or so?

[2022-10-18 14:50] Tucug opened #53 "Incorrect use of private vs public repository"
Hello,

Thanks for your work.

We noticed a few issue when using this action with our own instance of GitHub.

1) The links all point to github.com instead of our instance.
2) If the job is run in a repo marked as public, the analyze over the whole organization will only consider public repositories while a repository marked as private will only look at these one. If this is an expected behavior,

[2022-10-21 08:44] giacomocerquone opened #54 "Would you consider creating a locally runnable script out of this action?"
Hey there, do you think would be easy and useful to provide a locally runnable version of this very same tool instead of the Github actions?

My use case is that I've no permission for example on the repo I work on to add an action but, probably(?), the permissions I have over the repository should allow me to pull the info to produce these stats

[2022-10-21 08:49] giacomocerquone commented on #31
I'd implement the possibility to provide a whitelist OR blacklist where both can accept regex and/or other kind of filters

[2022-10-22 17:19] manuelmhtr commented on #54
Hi @giacomocerquone,
Unfortunately, there's no native way to run it locally, however, you may try using [nektos/act](https://github.com/nektos/act). I haven't tried it, but it may work. Nonetheless, the whole action depends on Github's API, so there's a chance you are missing another permission as well :/

My final recommendation is to ask somebody in your team to install the action, most managers

[2022-10-22 18:22] giacomocerquone commented on #54
I actually found [monocle](https://github.com/change-metrics/monocle) which is fantastic and does exactly what I was asking!

Thanks by the way @manuelmhtr

[2022-10-22 18:22] #54 closed

[2022-10-22 20:34] manuelmhtr commented on #54
I'm glad it worked @giacomocerquone. Happy to help.

[2022-10-23 16:15] manuelmhtr commented on #52
Hi @piersmacdonald happy to help you with the Slack integration :)